<a href="https://colab.research.google.com/github/anwarhaq-cto-ciso/AI-ML/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Python Language

In [1]:
# Python is case sensitive
print("Hello World")

Hello World

In [2]:
# It throws an error becuse string is always in " "
print(Hi There)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-2-d634fcc9924a>, line 2)

In [ ]:
print(7)

In [3]:
print(True)

True

In [4]:
# how print function strng in python
print('Hello', 3, 4, 5, True)

Hello 3 4 5 True

In [5]:
# Seperator function (sep)
print('Hello', 3, 4, 5, True, sep='/')

Hello/3/4/5/True

In [6]:
print("You", end="=")
print("Me")

You=Me

### Data Types

In [7]:
# Integers
print(5)

5

In [8]:
# Floats
print(6.6)

6.6

In [9]:
# Boolean
print(True,False)

True False

In [10]:
# String
print("This is a string")

This is a string

In [11]:
# Complex numbers
print(5 + 6j)

(5+6j)

In [12]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [14]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [15]:
#Dictionary
print({"Name":"John","Age":30})

{'Name': 'John', 'Age': 30}

In [16]:
# How do you know which type of datatype is?
type([1,2,3,4]), type({"Name": "Allan"})

(list, dict)

In [17]:
# Varialbles
x = 5
name = "John"
print(x,name)

5 John

In [18]:
# Multiple assignments
a, b, c, = 1, 2, 3

In [20]:
print(a,c)

1 3

In [21]:
# Multiple Assignments
a=b=c=5
print(a,b,c)

5 5 5

In [24]:
# This is a single line comment

In [27]:
'''
This is a multi-line comment,
It can spane Multiple lines.
'''

'\nThis is a multi-line comment,\nIt can spane Multiple lines.\n'

In [28]:
# User Input
input('Enter Email')

Enter Emailtest@mail.com

'test@mail.com'

In [29]:
# Take input from user and store in a variable
fNum = int(input('Enter First Number'))
sNum = int(input('Enter Second Number'))
result = fNum + sNum
print(result)
print(type(fNum))

Enter First Number45
Enter Second Number45
90
<class 'int'>

In [31]:
int_value = 42
float_value = float(int_value)
print(float_value)
string_value = "Hello, World!"
boolean_value = True

42.0

In [32]:
a = 23
b ="24"
print(float(a) + float(b))

47.0

In [33]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal
#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3
#Complex Literal
x = 3.14j
print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [35]:
#binary
x = 3.14j
print(x.imag)

3.14

In [36]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [37]:
print(5+6) # Addtion -> adding the numbers
print(5-6) # subtraction-> subtract the number
print(5*6) # Multiplication -> Multiply the number
print(5/2) # Divsion -> Divide the numnber
print(5//2) # Floor Division -> It trasform into integer number= 2.5 convert into 2
print(5%2) # Modulus -> It Provides remainder of the Divsion
print(5**2) # Exponential -> raising a number to a certain power.(raised to power)

11
-1
30
2.5
2
1
25

In [38]:
# Comparison
print(4==4)
print(4!=4)
print(4<5)
print(4>5)
print(4<=4)

True
False
True
False
True

In [39]:
p = True
q = False
print(p and q) # true and false -> 1 and 0 = 0
print(p or q) # true or false -> 1 or 0 = 1
print(not p)

False
True
False

In [40]:
x = 10
x += 5
print(x) # Equivalent to x = x + 5

15

In [41]:
x = 10
x -= 3 # Equivalent to x = x - 3
x *= 2 # Equivalent to x = x * 2
x /= 4 # Equivalent to x = x / 4
x //= 2 # Equivalent to x = x // 2
x %= 3 # Equivalent to x = x % 3
x **= 2 # Equivalent to x = x ** 2

In [43]:
# Bitwise Operations
m = 5 # 101 in binary
n = 3 # 011 in binary
bitwise_and = m & n # 001 (1 in decimal)
print(bitwise_and)
bitwise_or = m | n # 111 (7 in decimal)
print(bitwise_or)
bitwise_xor = m ^ n # 110 (6 in decimal)
print(bitwise_xor)
bitwise_not_m = ~m # -6 (in decimal)
print(bitwise_not_m)
left_shift = m << 1 # 010 (2 in decimal)
print(left_shift)
right_shift = m >> 1 # 010 (2 in decimal)
print(right_shift)

1
7
6
-6
10
2

In [44]:
# For loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [45]:
# for loop
curr_pop = 10000
for i in range (10, 0, -1):
  print(i, curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [46]:
# while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [47]:
# Program
num = int(input('Enter a number'))
i = 1
while i < 11:
    print(num, '*', i, '=', num * i)
    i += 1

Enter a number11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [51]:
# Break and Continue statments
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
  if num == 6:
    break # Exit the loop when num equals 6
  print(num)
print("Loop ended")

1
2
3
4
5
Loop ended

In [52]:
# Using continue
numbers = [1, 2, 3, 4, 5]
for num in numbers:
  if num == 3:
    continue # Skip printing 3 and continue with the next iteration
  print(num)
print("Loop ended")

1
2
4
5
Loop ended

In [53]:
# create string with the help of single quotes
s = 'Hello World'
print(s)

Hello World

In [54]:
single_quoted_string = 'He said, "Hello!"'
double_quoted_string = "He said, 'Hello!'"
# here we use single and double quotes
print(single_quoted_string)
print(double_quoted_string)

He said, "Hello!"
He said, 'Hello!'

In [55]:
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [56]:
# String[start:end]
s = 'hello world'
print(s[1:5]) # from 1 index that is e to 4 index=o
print(s[:6]) # from 0 to 5
print(s[1:]) # from 1 to all
print(s[:]) # all string
print(s[-5:-1]) # with negative slicing

ello
hello
ello world
hello world
worl

In [58]:
s = "Hello World"
# Accessing individual characters using positive indexing
print(s[0]) # Accesses the first character, 'H'
print(s[1]) # Accesses the second character, 'e'
# Accessing individual characters using negative indexing (counting from the end)
print(s[-1]) # Accesses the last character, 'd'
print(s[-2]) # Accesses the second-to-last character, 'l'

H
e
d
l

In [59]:
# we use step function in slicing
s = 'hello world'
print(s[6:0:-2])
print(s[::-1])

wol
dlrow olleh

In [60]:
# Arithmatic opertion in string
a = 'Hello'
b = 'world'
print(a + b)
# if we want space
print(a + " " + b)

Helloworld
Hello world

In [61]:
# how to print delhi 14 times
print("delhi"*14)
print("*"*50)

delhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhi
**************************************************

In [62]:
text = "Hello, World!"
uppercase_text = text.upper() # Convert to uppercase
print(uppercase_text)

HELLO, WORLD!

In [63]:
lowercase_text = text.lower() # Convert to lowercase
print(lowercase_text)

hello, world!

In [64]:
index = text.find("World") # Find the index of a substring
print(index)
new_text = text.replace("Hello", "Hi") # Replace a substring
print(new_text)

7
Hi, World!

In [65]:
name = 'nitish'
gender = 'male'
'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is nitish and I am a male'

In [67]:
'hi my name is KHAN '.split()

['hi', 'my', 'name', 'is', 'KHAN']

In [68]:
" ".join(['hi', 'my', 'name', 'is', 'KHAN'])

'hi my name is KHAN'

In [69]:
text = "Hello, World!"
length = len(text) # Returns the length of the string (13 in this case)
print(length)

13

In [71]:
'hey         '.strip() # it drop the Unwanted space prenet

'hey'

In [73]:
# How to create empty tuple
t1 =()
print(t1)
# creating tuple with single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4,5)
print(t3)
# hetero
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [74]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2)
# membership
print(1 in t1)
# iteration/loops
for i in t3:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
True
1
2
3
4
5

In [75]:
# len/sum/min/max/sorted
t = (1,2,3,4,5)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))

5
15
1
5
[1, 2, 3, 4, 5]

In [76]:
# empty set
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
s2 = {1,2,3,(4,5)}
print(s2)
# Homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion
s4 = set([1,2,3])
print(s4)
#duplicated not allowed
s5 = {1,1,2,2,3}
print(s5)

set()
<class 'set'>
{1, 2, 3}
{3, 1, (4, 5), 2}
{1, (1, 2, 3), 'hello', 4.5}
{1, 2, 3}
{1, 2, 3}

In [77]:
# del
s= {1,2,3,4,5}
del(s)
# it complete delete set

In [78]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union
print(s1 | s2)
# intersection
print(s1 & s2)
# Differences
print(s1 - s2)
print(s2 - s1)
# symmetric diffrences
print(s1 ^ s2)
# membership test
print(1 in s1)
print(1 not in s1)
# iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

In [79]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [80]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [81]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [82]:
# examples
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [83]:
# empty
d = {}
print(d)
#1D
d1 = {'name':'xyz', 'Age':23, 'gender':'male'}
print(d1)
# with mixed keys
d2 = {(2,2,3):1,'hello':'world'}
print(d2)
# 2D dictionary
s = {
'name':'ramesh',
'college':'bit',
'sem':4,
'subjects':{
'dsa':50,
'maths':67,
'english':34
}
}
print(s)
# using sequence and dict function
d4 = dict([('name','xyz'),('age',23),(3,3)])
print(d4)
#mutable items keys
d6 = {'name':'xyz', (1,2,3):2}
print(d6)

{}
{'name': 'xyz', 'Age': 23, 'gender': 'male'}
{(2, 2, 3): 1, 'hello': 'world'}
{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'xyz', 'age': 23, 3: 3}
{'name': 'xyz', (1, 2, 3): 2}

In [84]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['name'] # you have to write keys

'Jack'

In [85]:
d4['gender'] = 'male'
print(d4)
d4['weight'] = 70
print(d4)

{'name': 'xyz', 'age': 23, 3: 3, 'gender': 'male'}
{'name': 'xyz', 'age': 23, 3: 3, 'gender': 'male', 'weight': 70}

In [86]:
print(s)

{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [87]:
s['subjects']['dsa'] = 80
s

{'name': 'ramesh',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'maths': 67, 'english': 34}}

In [88]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [89]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [90]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [91]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [92]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [3]:
# Python3 program to
# demonstrate defining
# a class
class Dog:
  pass

In [4]:
obj = Dog()

In [5]:
class mynumber:
  def __init__(self,value):
    self.value = value
  def print_value(self):
    print(self.value)
obj1 = mynumber(10)
obj1.print_value()

10

In [6]:
# __init__
class Subject:
  def __init__(self, attr1, attr2):
    self.attr1 = attr1
    self.attr2 = attr2
obj = Subject('Maths','English')
print(obj.attr1)
print(obj.attr2)

Maths
English

In [9]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name}({self.age} years old)"
p1 = Person("John", 36)
print(p1.name)
print(p1.age)
print(p1)
print(str(p1))

John
36
John(36 years old)
John(36 years old)

In [10]:
class Myclass:
  def __init__(self):
    self.public_attribute = 55
    self._protected_attribute = 'Hello'
    self.__private_attribute = 'Wprld'
  def public_method(self):
    print("This is a public method")
  def _protected_method(self):
    print("This is a protected method")
  def __private_method(self):
    print("This is a private method")

In [11]:
obj = Myclass()
print(obj.public_attribute)
print(obj.public_method())

55
This is a public method
None

In [12]:
# so now we try for Protected attribute
print(obj._protected_attribute)
print(obj._protected_method())

Hello
This is a protected method
None

In [13]:
# Accessing private attributes and methods directly will result in an error:
print(obj.__private_attribute) # Raises an AttributeError
print(obj.__private_method()) # Raises an AttributeError

AttributeError: 'Myclass' object has no attribute '__private_attribute'

In [14]:
class Professor:
  def __init__(self, name):
    self.name = name
class Department:
  def __init__(self, name):
    self.name = name
    self.professors = [] # Aggregation: Department contains Professor objects
class University:
  def __init__(self, name):
    self.name = name
    self.departments = [] # Aggregation: University contains Department object
# Creating objects
professor1 = Professor("John Doe")
professor2 = Professor("Jane Smith")
department1 = Department("Computer Science")
department1.professors.append(professor1)
department1.professors.append(professor2)
university = University("ABC University")
university.departments.append(department1)

In [15]:
class Animal:
  def __init__(self, name):
    self.name = name
  def make_sound(self):
    pass
class Dog(Animal):
  def speak(self):
    return f"{self.name} says Woof!"
class Cat(Animal):
  def speak(self):
    return f"{self.name} says Meow!"
# Creating objects
dog = Dog("Buddy")
cat = Cat("Whiskers")
# Calling the speak method on objects
print(dog.speak())
print(cat.speak())

Buddy says Woof!
Whiskers says Meow!